---
name: "Run GaussDB Tests"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  secret-presence:
    runs-on: ubuntu-latest
    outputs:
      HAS_CLOUD_CRED: ${{ steps.secret-presence.outputs.HAS_CLOUD_CRED }}
    steps:
      - name: Check whether secrets exist
        id: secret-presence
        run: |
          [ ! -z "${{ secrets.access_key }}" ] && 
          [ ! -z "${{ secrets.secret_key }}" ] && echo "HAS_CLOUD_CRED=true" >> $GITHUB_OUTPUT
          exit 0
  

  run-gaussdb-tests:
    runs-on: ubuntu-latest
    needs: [ secret-presence ]
    if: |
      needs.secret-presence.outputs.HAS_CLOUD_CRED
    env:
      HW_ACCESS_KEY: ${{ secrets.access_key }}
      HW_SECRET_KEY: ${{ secrets.secret_key }}

    steps:
      - uses: actions/checkout@v4

      - name: "Terraform init"
        working-directory: ./deployment
        run: |-
          terraform init -reconfigure
      - name: "Terraform plan"
        working-directory: ./deployment
        run: |-
          terraform plan -out=$GITHUB_SHA.out

      - name: "Terraform apply"
        working-directory: ./deployment
        run: |-
          terraform apply "$GITHUB_SHA.out"

      - name: "Store PG connection string as env"
        working-directory: ./deployment
        run: |-
          echo "PG_CONNECTION_STRING=$(terraform output -raw pg_connection_string)" >> $GITHUB_ENV

      - uses: ./.github/actions/setup-java
      - name: "Prepare GaussDB Integration Tests"
        run: ./gradlew compileJava compileTestJava

      # GaussDB may be in recovery mode directly after creating, which is why the JDBC Driver returns an "Error cannot execute in a
      # readonly transaction".
      - uses: nick-fields/retry@v3
        name: "Run GaussDB Integration Tests"
        with:
          timeout_minutes: 30
          max_attempts: 5
          retry_on: error
          polling_interval_seconds: 60
          retry_wait_seconds: 180
          command: |
            ./gradlew test -DincludeTags="GaussDbTest" -PverboseTest=true --no-parallel

      - name: "Terraform destroy"
        # execute terraform teardown always, except if job was cancelled
        if: '!cancelled()'
        working-directory: ./deployment
        run: |-
          terraform plan -destroy -out=$GITHUB_SHA.out
          terraform apply "$GITHUB_SHA.out"
